:root {
  --card-background: rgb(43, 55, 67);
  --text-color: rgb(245, 247, 249);
  --main-color: rgb(33, 46, 55);
}
#root {
  width: 100vw;
  margin: 0 auto;
}
select {
  height: 3rem;
  width: 20%;
  text-overflow: ellipsis;
  background-color: var(--card-background);
  border-radius: 0.5rem;
}
select {
  border-radius: 0.5rem;
}
.All {
  background-color: var(--main-color);
  min-width: 90%;
  padding: 2rem;
}
.countries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  color: var(--text-color);
  justify-content: space-around;
  row-gap: 2rem;
  min-width: 100%;
}
.country {
  color: #ffffff;
  background-color: var(--card-background);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  cursor: pointer;
}
.country-details {
  padding: 2rem;
}
.country img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.Header {
  padding: 1rem;
  background-color: var(--card-background);
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SearchAndFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SearchAndFilter {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem 3rem 1rem;
}

.SearchAndFilter > div {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 40%;
  padding: 0.3rem;
  background-color: var(--card-background);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.SearchAndFilter > div > input {
  width: 70%;
  height: 60%;
  font-size: 1rem;
  color: #e4d4d4;
  outline: none;
  border: none;
}

.SearchAndFilter > div > input::placeholder {
  color: s#f0ecec;
  font-size: 0.8rem;
}

.SearchAndFilter > div > svg {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 1.3rem;
}

.unitCountry {
  padding: 2rem;
  place-content: center;
}

.container {
  display: flex;
  column-gap: 10%;
  margin-top: 2rem;
  height: 20rem;
}
.container img {
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.information-all {
  margin-bottom: 1rem;
}

.information {
  height: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2rem;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.border-countries {
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
}
.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.unsolved {
  margin: auto;
}
